/** Pour prendre moins de places dans les cellules */
tr th div p{
    margin-bottom: 0px;
}

td form .btn{
    padding: 0px;
}

.btn h6{
    margin-bottom: 0px;
}

td.text-center{
    padding: 1px;
}

th.text-center{
    padding: 1px;
}